<!DOCTYPE html>
<html lang="po-BR" >

<script src="/public/javascripts/home.js" type="text/javascript"></script>
  <head>
    <title>Teste do LELECO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div style="color:red" >
   <button onclick=/users/foda>Clique aqui</button>
  </div>   
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script>
      
    </script>


  </body>
</html>



